html {
}
body {
	height:100%;
	font-family: Segoe UI, sans-serif;
	background-image: linear-gradient(to right, #0B2F58,#0F5A76);
}
a{
	color:#FFFFFF;
	text-decoration: none;
	font-size:16pt;
}
p{
	color:white;
}
#page-container {
	position:relative;
}
.navbar-item:hover {
	cursor:pointer;
	text-decoration: underline;
}
.navbar-item {
	color:#FFFFFF;
	font-size:16pt;
	padding:40px;
}
#navbar {
	display:flex;
	justify-content:center;
}
.slider-outer{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	padding-top: 6%;
}
.slider-inner {
	width:100%;

}
input {
	padding:30px;
	z-index:10;
	bottom:10%;
}

.page {
	position: absolute;
	width:100%;
	color:white;
/*	bottom:20%;*/
}
#button-container{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.about-pages {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:100%;
	padding-bottom: 4%;
	transform:translateY(-10%);
}
.about-content {
	padding-left: 12%;
	width:40%;
	padding-right:2%;
	font-size:16pt;
	/*position: relative;
	transform:translateY(50%);*/
}
.about-image{
	padding-left:2%;
	padding-right: 15%;
}