body {
    font-family: Segoe UI, sans-serif;
    background-image: linear-gradient(to right, #0B2F58, #0F5A76);
    width: 100%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

#page-container {
    position: relative;
    width: auto;
    height: auto;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navbar-item {
    color: #FFFFFF;
    font-size: 16pt;
    padding: 40px;
}

#navbar {
    display: flex;
    justify-content: center;
}

#name {
    color: black;
    font-size: 28pt;
    padding: 18px;
    position: absolute;
    top: 12%;
    margin-bottom: 14px;
}

#name-container {
    display: flex;
    justify-content: center;
    padding-bottom: .5%;
}

#photo {
    margin:16pt;
    display: flex;
    justify-content: 'center';
    overflow: hidden;
    border-radius: 50%;
}

#photo-container {
    padding-top: 16;
    display: flex;
    justify-content: center;
    height: auto;
}

#content-container {
    padding-top: 1%;
}